:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.18px;
}

body { margin: 0; }
#root { margin: 0 auto; min-height: 100svh; }
h1,h2 { font-family: system-ui, 'Segoe UI', Roboto, sans-serif; font-weight: 500; }
h1 { letter-spacing: -1.68px; }
h2 { line-height: 118%; letter-spacing: -0.24px; margin: 0 0 8px; }
code { font-family: ui-monospace, Consolas, monospace; display: inline-flex; line-height: 135%; }
